<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Choose.css">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <a class="navbar-brand" href="#"><img class="logo" src="/images/RotaLogo.png"></a>
        <a href="/index.ejs" class="btn-primary">Entrar sem logar</a>
    </nav>

    <div class="container">
        <h2 class="card-title">Quem é você?</h2>

        <a href="registerE.html" class="btn-primary">Pessoa Jurídica</a>
        <a href="/register.html" class="btn-primary">Usuário Comum</a>
    </div>

</body>
</html>
